.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.main-container {
    width: 100%;
    height: 100vh;
}

/* App general styles */
.container-one {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    text-align: center;
}

.container-two {
    height: 75%;
}

.form-container {
    justify-items:auto;
}

.email-container {
    justify-items: center;
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: block;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.account-title {
    text-align: left;
    margin-bottom: 24px;
}

.sub-title {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 4px;
    margin-bottom: 32px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
    text-align: left;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 24px;
}

.form-text {
    color: var(--very-light-pink);
    font-size: var(--md);
    text-align: left;
    margin: 8px 0 32px 0;

}

.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.email-image img {
    width: 80px;
}

.submit-bottom-text {
    font-size: var(--sm);
}

.submit-bottom-text span {
    color: var(--very-light-pink);
}

.submit-bottom-text a {
    color: var(--hospital-green);
    text-decoration: none;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-one-button {
    margin-top: 14px;
    margin-bottom: 16px;
}

.type-two-button {
    background-color: var(--white);
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    align-self: end;
    margin-top: auto;
    align-self: flex-end;
}

.type-three-button {
    margin-top: auto;
    align-self:flex-end;
}

/* Home App Style */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 26px;
    place-content: center;
}

.product-card {
    width: 140px;
}

.product-card-image img{
    width: 140px;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;
}

.product-card-info {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
}

.product-card-info div p:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.product-card-icon {
    width: 35px;
    height: 35px;
}


/* Menu App Style */

.mobile-menu {
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 75%;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
}

.mobile-menu ul {
    list-style: none;
    margin-top: 24px;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.bottom-menu {
    align-self:baseline;
    margin-top: auto;
}

.bottom-menu a {
    font-size: var(--sm);
    font-weight: 300;
}

.bottom-menu li {
    margin-bottom: 0px !important;
    margin-top: 8px;
}

.signout a {
    color: var(--hospital-green);
}

/* My order */

.my-order {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 24px;
    flex-direction: column;
    margin: auto;
}

.my-order h1 {
    font-size: var(--lg);
}

.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin-top: 24px;
}

.my-order-content {
    display: flex;
    flex-direction: column;
}

.order {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 4px;
    border-radius: 8px;
    padding: 0 24px;
    height: 60px;
}

.order-list {
    background-color: var(--white);
}

.my-order-content p:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.my-order-content p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
}

.my-order-content p span:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.my-order-content p:nth-child(2) {
    text-align: end;
    font-weight: bold;
    font-size: var(--md);
}

.shoping-article {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
}

.shoping-article figure img {
    width: 70px;
    height: 70px;
}

.shoping-article p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--sm);
}

.shoping-article p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

/* NAVBAR STYLES */

nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 50px;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid var(--very-light-pink);
}

.navbar-logo {
    width: 100px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-list {
    display: none;
}

.navbar-left ul li a, .navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

.navbar-left ul li a:hover, .navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
}

.navbar-email {
    display: none;
}

.navbar-email a {
    color: var(--dark) !important;
    font-size: var(--sm) !important;
    margin-right: 12px;
}

.navbar-shoping-cart {
    position: relative;
}

.navbar-shoping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    right: -4px;
}

/* PRODUCT STYLE */

.product-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.product-details {
    width: 360px;
    height: 75%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.product-details-close {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--white);
    width: 14px;
    height: 14px;
}
.product-details-close > img {
    width: 12px;
    height: 12px;
}

.product-details-close > img:hover {
    cursor: pointer;
}

.product-image > img:nth-child(2) {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 360px);
}

.product-info > div {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
}

.product-info > div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}

.product-info > div p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0px;
    margin-bottom: 4px;
}

.product-info > div p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 8px;
    margin-bottom: 4px;
}