.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

/* App general styles */
.container-one {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    text-align: center;
}

.container-two {
    height: 75%;
}

.form-container {
    justify-items:auto;
}

.email-container {
    justify-items: center;
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: block;
}

.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.account-title {
    text-align: left;
    margin-bottom: 24px;
}

.sub-title {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 4px;
    margin-bottom: 32px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
    text-align: left;
}

.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 24px;
}

.form-text {
    color: var(--very-light-pink);
    font-size: var(--md);
    text-align: left;
    margin: 8px 0 32px 0;

}

.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.email-image img {
    width: 80px;
}

.submit-bottom-text {
    font-size: var(--sm);
}

.submit-bottom-text span {
    color: var(--very-light-pink);
}

.submit-bottom-text a {
    color: var(--hospital-green);
    text-decoration: none;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.type-one-button {
    margin-top: 14px;
    margin-bottom: 16px;
}

.type-two-button {
    background-color: var(--white);
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    align-self: end;
    margin-top: auto;
    align-self: flex-end;
}

.type-three-button {
    margin-top: auto;
    align-self:flex-end;
}

/* Home App Style */

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 140px);
    gap: 26px;
    place-content: center;
}

.product-card {
    width: 140px;
}

.product-card-image img{
    width: 140px;
    height: 140px;
    border-radius: 20px;
    object-fit: cover;
}

.product-card-info {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
}

.product-card-info div p:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.product-card-icon {
    width: 35px;
    height: 35px;
}


/* Menu App Style */

.mobile-menu {
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 75%;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: var(--md);
}

.mobile-menu ul {
    list-style: none;
    margin-top: 24px;
}

.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.bottom-menu {
    align-self:baseline;
    margin-top: auto;
}

.bottom-menu a {
    font-size: var(--sm);
    font-weight: 300;
}

.bottom-menu li {
    margin-bottom: 0px !important;
    margin-top: 8px;
}

.signout a {
    color: var(--hospital-green);
}